@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

.logo-text {
  font-family: var(--font-special_gothic_expanded_one)
}

html {
  scroll-behavior: smooth;
}

::selection {
  color: white;
  background-color: #ff7f5065;
}

::-moz-selection {
  color: white;
  background-color: #ff7f5065;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.fade-in {
  /* gradient fade in (top -> bottom) */
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.fade-out {
  /* gradient fade out (top -> bottom) */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.taper-edges {
  -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%,  rgba(0,0,0,0) 80%);
  mask: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 80%);
}

.taper-edges-sm {
  -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 50%,  rgba(0,0,0,0) 99%);
  mask: linear-gradient(90deg, rgba(0,0,0,0) 1%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 99%);
}

.taper-left {
  -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);
  mask: linear-gradient(90deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);
}

.taper-right {
  -webkit-mask: linear-gradient(270deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);
  mask: linear-gradient(270deg, rgba(0,0,0,0) 20%, rgba(0,0,0,1) 50%);
}

.taper-bottom {
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.taper-top {
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.grid-line {
  stroke: #d0d0d0;
  stroke-width: 1;
  stroke-dasharray: 4 2;
}

.pulse-dot {
  fill: #007bff;
}

.pulse-ring {
  fill: rgba(0, 123, 255, 0.4);
  animation: pulse 2s infinite;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    r: 4;
    opacity: 0.8;
  }
  70% {
    r: 12;
    opacity: 0;
  }
  100% {
    r: 4;
    opacity: 0;
  }
}